*{
    margin:0;
    padding: 0;
}

.sidebarChat{
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #f6f6ff;
    background-color: white;
}

.sidebarChat:hover{
    background-color: #ebebeb;
}

.sidebarChat_info{
    margin-left: 25px;
    color:#2c2c2c;
}

.sidebarChat_info >p{
    font-size: 14px;
}